// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";

/*----------------------------------
	ここからindex Loginしていない場合
----------------------------------*/
.fm-index{
  width: 100%;
  height: 98vh;
  color: #efefef;
  background: #0d7571;
  display: flex;
  align-items: center;
  text-align: center;
  .fm-container{
    width: 86%;
    max-width: 1080px;
    margin: 0 auto;
    .fm-index-logo{
      margin: 20px auto 40px;
      display: block;
      .fmscratch-logo{
        display: block;
        max-width: 340px;
        margin: 0 auto;
      }
    }
    p{
      max-width: 480px;
      margin: 10px auto;
      letter-spacing: 1.6px;
    }
    .fm-make{
      font-size: 2.2rem;
      font-weight: 600;
    }
    .fm-description{
      font-size: 1.1rem;
    }
    .fm-start{
      width: 50%;
      margin: 20px auto 10px;
      display: flex;
      .sign-btn{
        cursor: pointer;
        font-size: 1.4rem;
        width: 33%;
        border: 2px solid rgba(255,255,255,0.9);
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
        margin: 15px auto 0;
        &:hover{
          transition: 0.5s;
          background: rgba(255,255,255,0.9);
          color: #ff9600;
        }
      }
    }
  }
}

/*----------------------------------
	ここからindex Loginしている場合
----------------------------------*/
