<h1 style="margin-bottom:80px;">Update your profile</h1>
<% provide(:button_text, 'Update my account') %>
  <%= render 'shared/user_form' %>
  <%= button_to "Delete account", @user, :method => :delete %>
