<%= stylesheet_link_tag "home/index", :media => "all" %>
<% if @user.errors.any? %>
  <div>
    <p>The form contains </p><%= pluralize(@user.errors.count,"error") %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
