<%= stylesheet_link_tag "home/index", :media => "all" %>
<h1>Home#index</h1>
<div id="open">
  <p>Open Signup Window</p>
</div>
<div id="modal" class="hidden">
  <p>Name</p>
  <p>Email</p>
    <div id="close">
      <p>Close</p>
    </div>
</div>
<div id="mask" class="hidden"></div>
<%= javascript_include_tag "modal.js" %>
