<h1 style="padding-top:100px">Edit</h1>
<% provide(:card_add, 'Update') %>
<%= render partial: 'shared/card_edit_form', locals: { card: @card, project: @project } %>
<%= link_to 'Back', card_path(@card) %>
