/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

/*-------------------
	すべてに適用
-------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin :0;
}

li{
list-style: none;
}

a{
  text-decoration: none;
    &:hover{
      transition: 0.4s;
    }
}

/*-------------------
	bodyに適用
-------------------*/

html,body {
  height: 100%;
  width: 100%;
  font-family: 'HiraginoSans-W3', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: #1B1B1B;
}

/*-------------------
	ここからheader
-------------------*/

header.Global-nav{
  color: #E9E9E9;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
    h1.Fm-logo{
      .logo-img{
      display: inline-block;
      width: 240px;
      height: 48px;
      vertical-align: middle;
      overflow: hidden;
      text-indent: 100%;
      word-wrap: normal;
      overflow-wrap: normal;
      white-space: nowrap;
      background: url('/assets/scratch-font-logo-index.svg');
      background-repeat: no-repeat;
      }
    }
    .header-Line{
      display: table;
      margin: 8px auto;
      min-width: 1120px;
      width: 100%;
      position: relative;
      a.Fm-Headlink{
        &:hover{
          padding-bottom: 6px;
          border-bottom: 3px solid #4E4E4E;
        }
        &:visited{
          color: #4E4E4E;
        }
      }
    }
}

/*------------------------
	header,footer共通部分
------------------------*/

nav.Fm-userNav{
  text-align: right;
  display: table-cell;
    ul.Fm-list{
    	display: inline-block;
    	li.Fm-menu{
        font-size: 16px;
      	display: inline-block;
    	}
    }
}

/*-------------------
	ここからfooter
-------------------*/

.footer-nav{
  position: absolute;
  width: 100%;
  left: -2%;
  bottom: 0;
  padding: 8px 0;
  z-index: 99;
  .footer-Line{
    position: relative;
    min-width: 1120px;
    height: 40px;
    margin: 20px auto 8px;
    nav.Fm-userNav{
      float: right;
      ul.foot-list{
        a.Fm-Footlink{
          &:hover{
            padding-bottom: 6px;
            border-bottom: 3px solid #4E4E4E;
          }
          &:visited{
            color: #4E4E4E;
          }
        }
      }
    }
  }
}
