<footer class="footer-nav">
	 <div class="footer-Line">
		 <nav class="Fm-userNav">
			<ul class="Fm-list foot-list">
			  <li class="Fm-menu"><%= link_to "About", root_path, class: "Fm-Footlink" %></li>
			  <li class="Fm-menu"><%= link_to "Contact", root_path, class: "Fm-Footlink" %></li>
			  <li class="Fm-menu"><%= link_to "Help", root_path, class: "Fm-Footlink" %></li>
			</ul>
		 </nav>
	</div>
</footer>
